<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @user.facebook_id %>
</p>

<p>
  <strong>Facebook avatar:</strong>
  <%= @user.facebook_avatar %>
</p>

<p>
  <strong>Registered:</strong>
  <%= @user.registered %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
